<!--
  Author:    Professor
  Partner:   -Na-
  Date:      2021/9/2
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 - This work may not be copied for use in Academic Coursework.

-->

@{
    ViewData["Title"] = "Application";
}

<div id="applicant_name" class="default_header">
    <h1> Application for Jim</h1>
    <p> u0123456 </p>
    <figure id="applicants_photo">
        <img class="rightbox" src="~/img/jim.jpg" alt="Picture of Jim from the Office" />
    </figure>
</div>

<div id="main_info" class="infolist">
    <ul>
        <li> Contact: jim@jim.com </li>
        <li> Phone: 801-123-1234 </li>
        <li> Linked In : <a href="https://linkedin"> Linked In</a></li>
        <li> Resume: <a href="~/img/jim.pdf">Link</a></li>
    </ul>
</div>

