<!--
  Author:    Professor
  Partner:   -Na-
  Date:      2021/9/11
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 - This work may not be copied for use in Academic Coursework.

-->

@{
    ViewData["Title"] = "HW2_Index";
}

<div class="applicant_view">
    <div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">

                <img class="img-fluid" src="~/img/jim.jpg" alt="Picture of Jim from the Office" />
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LinkedIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Github</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Remove Applicant</button>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>Jim Joe</h2>
                <h5>u0123456</h5>
                <ul class="person_list">
                    <li>Email: u0123456@utah.edu</li>
                    <li>Phone: 801-123-4567</li>
                    <li>GPA: 4.0</li>
                    <li>Graduate year: 2022 Fall</li>
                    <li>Interested Course: CS2420, CS3500</li>
                    <li>Available hour per week: 8</li>
                    <li>Status: Under considering</li>
                </ul>
                <br>
                <h2>Personal Statement</h2>

                <p>
                    My interest in computing has not been restricted to the classroom and college life. Within the last twelve months I’ve used the knowledge that I’ve gained over the past twelve years together with the help of my family to set up my own computer related business. This has given me a totally new perspective on how certain things function, and how business operates.

                    The writing of a business plan was a totally alien experience for me, but over the course of 9 months I researched and planned, and finally when the plan was complete I was rewarded with the satisfaction of knowing that I had completed something that most people would never have the chance to do especially at my age.

                    Through the setting up of the company and its subsequent running I have learnt many things. These include how to balance tasks effectively, how critical teamwork can be and how to delegate tasks to get the job done quickly and efficiently.
                </p>
            </div>
        </div>
    </div>
</div>